{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

    <br>
    <ul>
        <p>1)Add  <strong>+1 (415) 523-8886</strong> as Whatsapp Bot to your contacts.</p>
        <p>2)Open Whatsapp.</p>
        <p>3)After selecting 'Whatsapp Bot' type 'join owner-yard'</p>
        <img src="{% static 'Chatbot.JPG' %}">
        <p>Give the required response</p>
        <img src="{% static 'Chatbot-2.JPG' %}">
        <img src="{% static 'Chatbot-3.JPG' %}">
    </ul>

{% endblock content %}