{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Life Guide</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--   <div class="logo"><a href="{% url 'prevention' %}"><h2>Life Guide</h2></a>
</div> -->
  <div class="logo"><a href="{% url 'prevention' %}"><h2>LifeGuide</h2></a>
    <img src="./static/logo.png" alt="">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'chatbot' %}">Talk to Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shelter' %}" target="_blank" >Shelter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'volunteer' %}">Volunteer</a>
      </li>
        {% if user.is_authenticated %}
            <ul class="nav-item">
                <a class="nav-link" href="/logout"><button class="btn btn-danger my-2 my-sm-0">Logout</button></a>
            </ul>
            <ul class="nav-item">
                <a class="nav-link" href="/profile"><button class="btn btn-info my-2 my-sm-0">Profile</button></a>
            </ul>
            {% else %}
            <ul class="nav-item">
                <a class="nav-link" href="/login"><button class="btn btn-danger my-2 my-sm-0">Login</button></a>
            </ul>
            {% endif %}

    </ul>
    
  </div>
</nav>

{% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
        {{ message }}
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Created by team Dali, BELLA CIAO!</span>
  </div>
</footer>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="LifeGuide"
  agent-id="36ccc7a9-3c13-4633-a093-ebb4cbb5fb6b"
  language-code="en"
></df-messenger>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
