{% extends 'base.html' %}


{% block content %}
    <br>
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
            <!-- About Us Content -->
            <div class="section-heading mb-5">
                <h2>“Wishing Won't Keep You Safe, Safety Will.”  </h2>

                <h4>We have put together all the prevenntions you need to take during a specific disaster.</h4>
            </div>
            <div class="about-us-content mb-10">
                <div class="about-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="false">Earthquake</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabE" data-toggle="tab" href="#tab-E" role="tab" aria-controls="tab-E" aria-selected="false">Tsunamis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">Floods</a>
                        </li>
                    </ul>
                </div>
                <!-- Mona Tab Content -->
                <div class="about-tab-content">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3>What to Do Before an Earthquake</h3>
                                <ul>
                                <li>Make sure you have a fire extinguisher, first aid kit, a battery-powered radio, a flashlight, and extra batteries at home.
                                <li>Learn first aid.
                                <LI>Learn how to turn off the gas, water, and electricity.
                                <li>Make up a plan of where to meet your family after an earthquake.
                                <li>Don't leave heavy objects on shelves (they'll fall during a quake).
                                <li>Anchor heavy furniture, cupboards, and appliances to the walls or floor.
                                <li>Learn the earthquake plan at your school or workplace.
                                </ul>

                                <h3> What to do during an Earthquake </h3>
                                <ul>
                                <li><b>Stay calm!</b> If you're indoors, stay inside. If you're outside, stay outside.
                                <li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.
                                <li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).
                                <li>Don't use matches, candles, or any flame. Broken gas lines and fire don't mix.
                                <li>If you're in a car, stop the car and stay inside the car until the earthquake stops.
                                <li>Don't use elevators (they'll probably get stuck anyway).
                                </ul>

                                <h3>What to do after an Earthquake</h3>
                                <ul>
                                <li>Check yourself and others for injuries. Provide first aid for anyone who needs it.
                                <li>Check water, gas, and electric lines for damage. If any are damaged, shut off the valves. Check for the smell of gas. If you smell it, open all the windows and doors, leave immediately, and report it to the authorities (use someone else's phone).
                                <li>Turn on the radio. Don't use the phone unless it's an emergency.
                                <li>Stay out of damaged buildings.
                                <li>Be careful around broken glass and debris. Wear boots or sturdy shoes to keep from cutting your feet.
                                <li>Be careful of chimneys (they may fall on you).
                                <li>Stay away from beaches. Tsunamis and seiches sometimes hit after the ground has stopped shaking.
                                <li>Stay away from damaged areas.
                                <LI>If you're at school or work, follow the emergency plan or the instructions of the person in charge.
                                <li>Expect aftershocks.
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-E" role="tabpanel" aria-labelledby="tabE">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3>If you are under a Tsunami Warning </h3>
                                <ul><li>First, protect yourself from an Earthquake. <strong>Drop, Cover, then Hold On</strong>.</li>
                                <li>Get to high ground as far inland as possible.</li>
                                <li>Be alert to signs of a tsunami, such as a sudden rise or draining of ocean waters.</li>
                                <li>Listen to emergency information and alerts.</li>
                                <li>Evacuate: DO NOT wait! Leave as soon as you see any natural signs of a tsunami or receive an official tsunami warning.</li>
                                <li>If you are in a boat, go out to sea.</li>
                                </ul>
                                <h3> Prepare NOW </h3>
                                <ul><li>If you live near, or regularly visit a coastal area, learn about the risk of tsunami in the area. Some at-risk communities have maps with evacuation zones and routes. If you are a visitor, ask about community plans.</li>
                                <li>Learn the signs of a potential tsunami, such as an earthquake, a loud roar from the ocean, or unusual ocean behavior, such as a sudden rise or wall of water or sudden draining of water showing the ocean floor.</li>
                                <li>Know and practice community evacuation plans and map out your routes from home, work, and play. Pick shelters 100 feet or more above sea level, or at least one mile inland.</li>
                                <li>Create a family emergency communication plan that has an out-of-state contact. Plan where to meet if you get separated.</li>
                                <li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts.</li>
                                <li>Consider earthquake insurance and a flood insurance policy through the National Flood Insurance Program (NFIP). Standard homeowner’s insurance does not cover flood or earthquake damage.</li>
                                </ul>

                                <h3>Survive DURING</h3>
                                <ul><li>If you are in a tsunami area and there is an earthquake, then first protect yourself from the earthquake. Drop, Cover, and Hold On. Drop to your hands and knees. Cover your head and neck with your arms. Hold on to any sturdy furniture until the shaking stops. Crawl only if you can reach better cover, but do not go through an area with more debris.</li>
                                <li>When the shaking stops, if there are natural signs or official warnings of a tsunami, then move immediately to a safe place as high and as far inland as possible. Listen to the authorities, but do not wait for tsunami warnings and evacuation orders.</li>
                                <li>If you are outside of the tsunami hazard zone and receive a warning, then stay where you are unless officials tell you otherwise.</li>
                                <li>Leave immediately if you are told to do so. Evacuation routes are often marked by a wave with an arrow in the direction of higher ground.</li>
                                <li>If you are in the water, then grab onto something that floats, such as a raft, tree trunk, or door.</li>
                                <li>If you are in a boat, then face the direction of the waves and head out to sea. If you are in a harbor, then go inland.</li>
                                </ul>

                                <h3>Be Safe AFTER</h3>
                                <ul><li>Listen to local alerts and authorities for information on areas to avoid and shelter locations.</li>
                                <li>Avoid wading in floodwater, which can contain dangerous debris. Water may be deeper than it appears.</li>
                                <li>Be aware of the risk of electrocution. Underground or downed power lines can electrically charge water. Do not touch electrical equipment if it is wet or if you are standing in water.</li>
                                <li>Stay away from damaged buildings, roads, and bridges.</li>
                                <li>Document property damage with photographs. Conduct an inventory and contact your insurance company for assistance.</li>
                                <li>Save phone calls for emergencies. Phone systems are often down or busy after a disaster. Use text messages or social media to communicate with family and friends.</li>
                                </ul>
                                <ul>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-C" role="tabpanel" aria-labelledby="tabC">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> Before a Flood </h3>
                                <div class="smartbody text parbase section has-p">
                                <p>One of the biggest ways to protect yourself and your property is to prepare ahead of time. This includes:</p></div>
                                <div class="smartbody text parbase has-ul section">
                                <ul> 
                                <li>Avoid building in a <a href="https://www.nationalgeographic.org/encyclopedia/flood-plain/">floodplain</a>—an area especially prone to flooding during heavy rains.</li> 
                                <li><a href="https://msc.fema.gov/portal/home">If you do live in a floodplain</a>, consider buying flood insurance to help with losses if, and when, a flood occurs.</li> 
                                <li>Construct barriers (levees, beams, floodwalls) to stop floodwater from entering your home. <a href="https://dnr.mo.gov/pubs/pub2217.htm">Sandbags can provide a temporary levee in an emergency</a>.</li> 
                                <li>Seal walls in basements with waterproofing compounds to avoid seepage.</li> 
                                <li>Pay attention to weather forecasts. When heavy rain or storms are forecasted, listen to the radio or television for information on flooding risk.</li> 
                                <li>What’s worse—a flood watch or warning? A watch means flooding is possible. A warning means flooding is occurring or will occur soon.</li> 
                                </ul></div>

                                <h3>During a flood</h3>
                                <ul> 
                                <li><a href="https://www.nssl.noaa.gov/education/svrwx101/floods/">Avoid low spots</a>, like ditches, basements, or underpasses. These become extremely dangerous during a flash flood.</li> 
                                <li>Do not walk through flooded areas. It can be difficult to tell how deep the water is and what lies underneath the water that could hurt you. Even shallow, moving water can make you fall.</li> 
                                <li>If you have to walk in water, wherever possible, walk where the water is not moving. Use a stick to check the firmness of the ground in front of you.</li> 
                                <li><a href="https://www.ready.gov/floods">Do not drive into flooded areas</a>. Remember: “Turn around, don’t drown.” If floodwaters rise around your car, abandon the car and move to higher ground—only if you can do so safely.</li> 
                                <li>Do not touch electrical equipment if you are wet or standing in water.</li> 
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-D" role="tabpanel" aria-labelledby="tabD">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p>market We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>4 We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <a href="/home/intern_linguist" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-E" role="tabpanel" aria-labelledby="tabE">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p>market We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>8 We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <a href="/home/intern_design" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Border -->
        <div class="container">
            <br> <br>
            <div class="border-line"></div>
        </div>
    </section>

{% endblock content%}