{% extends 'base.html' %}


{% block content %}
    <br>
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
            <!-- About Us Content -->
            <div class="section-heading mb-5">
                <h2>“Wishing Won'T Keep You Safe, Safety Will.”  </h2>

                <h4>We have put together all the prevenntions you need to take during a specific disaster.</h4>
            </div>
            <div class="about-us-content mb-10">
                <div class="about-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="false">Earthquake</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabE" data-toggle="tab" href="#tab-E" role="tab" aria-controls="tab-E" aria-selected="false">Tsunamis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">Floods</a>
                        </li>
                    </ul>
                </div>
                <!-- Mona Tab Content -->
                <div class="about-tab-content">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3>What to Do Before an Earthquake</h3>
                                <ul>
                                <li>Make sure you have a fire extinguisher, first aid kit, a battery-powered radio, a flashlight, and extra batteries at home.
                                <li>Learn first aid.
                                <LI>Learn how to turn off the gas, water, and electricity.
                                <li>Make up a plan of where to meet your family after an earthquake.
                                <li>Don't leave heavy objects on shelves (they'll fall during a quake).
                                <li>Anchor heavy furniture, cupboards, and appliances to the walls or floor.
                                <li>Learn the earthquake plan at your school or workplace.
                                </ul>

                                <h3> What to do during an Earthquake </h3>
                                <ul>
                                <li><b>Stay calm!</b> If you're indoors, stay inside. If you're outside, stay outside.
                                <li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.
                                <li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).
                                <li>Don't use matches, candles, or any flame. Broken gas lines and fire don't mix.
                                <li>If you're in a car, stop the car and stay inside the car until the earthquake stops.
                                <li>Don't use elevators (they'll probably get stuck anyway).
                                </ul>

                                <h3>What to do after an Earthquake</h3>
                                <ul>
                                <li>Check yourself and others for injuries. Provide first aid for anyone who needs it.
                                <li>Check water, gas, and electric lines for damage. If any are damaged, shut off the valves. Check for the smell of gas. If you smell it, open all the windows and doors, leave immediately, and report it to the authorities (use someone else's phone).
                                <li>Turn on the radio. Don't use the phone unless it's an emergency.
                                <li>Stay out of damaged buildings.
                                <li>Be careful around broken glass and debris. Wear boots or sturdy shoes to keep from cutting your feet.
                                <li>Be careful of chimneys (they may fall on you).
                                <li>Stay away from beaches. Tsunamis and seiches sometimes hit after the ground has stopped shaking.
                                <li>Stay away from damaged areas.
                                <LI>If you're at school or work, follow the emergency plan or the instructions of the person in charge.
                                <li>Expect aftershocks.
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-B" role="tabpanel" aria-labelledby="tabB">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p> research At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>2 We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <a href="/home/intern_backend" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-C" role="tabpanel" aria-labelledby="tabC">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p>Create data tools and processes using statistical methods and models for our Data Science team to analyze trends in diverse data sets that help our users across industries.</p>
                                <p>Work with Team to delve deep into diverse and unstructured data for driving meaningful insights to build scalable predictive models and scale our work — all while learning a new Python library to better manipulate language inconsistencies and images..</p>
                                <p>Decode parameters from internal APIs, web scraping, or parsing PDFs as you devise novel ways of searching through the data and drawing correlations and output them in structure.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>3 You can fluently work with R or Python and can easily manipulate massive data sets.</p>
                                <p>You do not prefer writing the same logic of code twice, and love to write scalable, reusable code to process data and know when to use bar charts instead of line charts.</p>
                                <p>You have some experience of working with big data problems or have a background and strong interest in economics, statistics, mathematics, computer science or related fields.</p>
                                <a href="/home/intern_datascience" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-D" role="tabpanel" aria-labelledby="tabD">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p>market We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>4 We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <a href="/home/intern_linguist" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-E" role="tabpanel" aria-labelledby="tabE">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <h3> What will you do ? </h3>
                                <p>market We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <h3> What makes you a match for us? </h3>
                                <p>8 We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <a href="/home/intern_design" class="btn uza-btn mt-30">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Border -->
        <div class="container">
            <br> <br>
            <div class="border-line"></div>
        </div>
    </section>

{% endblock content%}